<table class="table is-striped">

<!-- Search -->
<div class="field">
  <div class="control has-icons-left">
    <input class="input" type="text" placeholder="Search a bill...">
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>

<thead>
  <tr>
    <th>Bill Name</th>
    <th>Congress Session</th>
    <th>Author</th>
  </tr>
</thead>

<tbody>
  {{#each bills}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.congress}}</td>

      <td><a href="/representatives/{{this.Representative.member_id}}">{{this.Representative.first_name}} {{this.Representative.last_name}} ({{this.Representative.party}})</a></td>
    </tr>
  {{/each}}
</tbody>

</table>

<script>
  $(document).ready(function() {
    $('input').on('keyup', function() {
      var text = $('input').val().toLowerCase();
      $('tbody').find('tr').each(function() {
        if(!$(this).text().toLowerCase().includes(text)) {
          $(this).hide()
        } else {
          $(this).show();
        }
      })
    })
  })
</script>
