<table class="table is-striped">

<thead>
  <tr>
    <th>Bill Name</th>
    <th>Congress Session</th>
    <th>Author</th>
  </tr>
</thead>

<tbody>
  {{#each bills}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.congress}}</td>
      <td onclick="location.href='/representatives/{{this.Representative.member_id}}'">{{this.Representative.first_name}} {{this.Representative.last_name}} ({{this.Representative.party}})</td>
    </tr>
  {{/each}}
</tbody>

</table>
