<table class="table is-fullwidth is-striped">

<thead>
  <tr>
    <th>Representative Name</th>
    <th>Party</th>
    <th>State</th>
    <th>Most Recent Term Dates</th>
    <th>Score (1-10)</th>
  </tr>
</thead>
<tbody>
{{#each reps}}
  <tr>
    <td>{{this.first_name}} {{ this.last_name }}</td>
    <td>{{this.party}}</td>
    <td>{{this.state}}</td>
    <td>{{this.last_term_start}} to {{this.last_term_end}}</td>
    <td></td>
  </tr>
{{/each}}
</tbody>

</table>
