<table class="table is-fullwidth is-striped">

<thead>
  <tr>
    <th>Representative Name</th>
    <th>Party</th>
    <th>State</th>
    <th>Most Recent Term Dates</th>
    <th>Congressional Sessions</th>
    <th>Grade (A+ to F)</th>
  </tr>
</thead>
<tbody>
{{#each reps as |rep|}}
  <tr onclick="javascript:location.href='/representatives/{{rep.member_id}}'">
    <td>{{rep.first_name}} {{ rep.last_name }}</td>
    <td>{{rep.party}}</td>
    <td>{{rep.state}}</td>
    <td>{{rep.last_term_start}} to {{ rep.last_term_end }}</td>
    <td>{{#each rep.Congresses as |c|}}{{ c.number}}{{#unless @last}},{{/unless}}{{/each}}</td>
    <td></td>
  </tr>
{{/each}}
</tbody>

</table>
