<div class="columns">

  <div class="column is-4">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title" style="margin-left: 22px">
          {{ info.name }}<br/>
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-3by4">
          <img src="{{ info.image }}" slt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <table class="table is-striped">
            <tbody>
              <tr>
                <th>Party</th>
                <td>
                  {{ info.party }}
                </td>
              </tr>
              <tr>
                <th>Currently in office?</th>
                <td>{{ info.inOffice }}</td>
              </tr>
              <tr>
                <th>Role</th>
                <td>{{#each info.role}} {{ this }}{{/each}}</td>
              </tr>
              <tr>
                <th>State</th>
                <td>{{info.state}}</td>
              </tr>
              <tr>
                <th>Effectiveness Score</th>
                <td>{{ info.overallA }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a href="{{ info.url }}" class="card-footer-item">
          <span class="icon">
            <i class="fas fa-globe"></i>
          </span>
          Website
        </a>
      </footer>
    </div>
  </div>

  <div class="column">
    <h5 class="heading">Committees</h5>
    <p>Committee Rank: {{ info.committeeRank }}</p>
    <p>Committee Chair Rank: {{ info.committeeChairRank }}</p>
    <table class="table">
      <thead>
        <tr>
          <th>Committee</th>
          <th>Code</th>
          <th>Title</th>
          <th>Rank in Committee</th>
        </tr>
      </thead>
      <tbody>
        {{#each info.committees}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.Member_of_committee.committee_id}}</td>
          <td>{{this.Member_of_committee.role}}</td>
          <td>{{this.Member_of_committee.m_rank}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div style="display:inline-block; margin-right: 36px">
      <h5 class="heading">Votes & Bills</h5>
      <table class="table">
        <tbody>
          <tr>
            <th>% Votes with Party Line</th>
            <td>{{#each info.pct}} {{ this }}<br/> {{/each}}</td>
          </tr>
          <tr>
            <th>Missed Votes</th>
            <td>{{#each info.missed}} {{ this }} <br/> {{/each}}</td>
          </tr>
          <tr>
            <th>Bills Sponsored</th>
            <td>{{ info.billCount }} {{ info.billRank }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h5 class="heading">Bill Information</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Bill ID</th>
          <th>Title</th>
          <th>Congress</th>
          <th>Is Active?</th>
          <th>House Passage</th>
          <th>Senate Passage</th>
          <th>Enacted</th>
        </tr>
      </thead>
      <tbody>
        {{#each info.bills}}
        <tr>
          <td>{{this.bill_id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.congress}} {{ this.chamber }}</td>
          <td>{{this.active}}</td>
          <td>{{this.house_passage}}</td>
          <td>{{this.senate_passage}}</td>
          <td>{{#if this.enacted.length}}{{this.enacted}}{{else}}False{{/if}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>



  </div>

</div>
