<div class="columns">

  <div class="column is-4">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title" style="margin-left: 22px">
          {{ info.name }}<br/>
        </p>
      </header>
      <div class="card-image">
        <figure class="image is-3by4">
          <img src="{{ info.image }}" slt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <table class="table is-striped">
            <tbody>
              <tr>
                <th>Party</th>
                <td>
                  {{ info.party }}
                </td>
              </tr>
              <tr>
                <th>Currently in office?</th>
                <td>{{ info.inOffice }}</td>
              </tr>
              <tr>
                <th>Role</th>
                <td>{{#each info.role}} {{ this }}{{/each}}</td>
              </tr>
              <tr>
                <th>State</th>
                <td>{{info.state}}</td>
              </tr>
              <tr>
                <th>Effectiveness Score</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a href="{{ info.url }}" class="card-footer-item">
          <span class="icon">
            <i class="fas fa-globe"></i>
          </span>
          Website
        </a>
      </footer>
    </div>
  </div>

  <div class="column">
    <h5 class="heading">Committees</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Committee</th>
          <th>Code</th>
          <th>Title</th>
          <th>Rank in Party</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Committee on Agriculture</td>
          <td>HSAG</td>
          <td>Member</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Committee on Armed Services</td>
          <td>HSAS</td>
          <td>Member</td>
          <td>29</td>
        </tr>
        <tr>
          <td>Committee on Small Business</td>
          <td>HSSM</td>
          <td>Chair</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>

    <h5 class="heading">Subcommittees</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Subcommittee</th>
          <th>Code</th>
          <th>Title</th>
          <th>Rank in Party</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Livestock and Foreign Agriculture</td>
          <td>HSAG29</td>
          <td>Member</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Military Personnel</td>
          <td>HSAS02</td>
          <td>Member</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Investigations, Oversight and Regulations</td>
          <td>HSSM24</td>
          <td>Chair</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Economic Growth, Tax and Capital Access</td>
          <td>HSSM27</td>
          <td>Member</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

    <div style="display:inline-block; margin-right: 36px">
      <h5 class="heading">Votes</h5>
      <table class="table">
        <tbody>
          <tr>
            <th>% Votes with Party Line</th>
            <td>{{#each info.pct}} {{ this }}<br/> {{/each}}</td>
          </tr>
          <tr>
            <th>Missed Votes</th>
            <td>{{#each info.missed}} {{ this }} <br/> {{/each}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="display:inline-block">
      <h5 class="heading">Bills</h5>
      <table class="table">
        <tbody>
          <tr>
            <th>Bills Sponsored</th>
            <td>3</td>
          </tr>
          <tr>
            <th>Bills Cosponsored</th>
            <td>116</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
