<table class="table is-fullwidth is-striped">

<!-- Search -->
<div class="field">
  <div class="control has-icons-left">
    <input class="input" type="text" placeholder="Search a representative...">
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>

<thead>
  <tr>
    <th>Representative Name</th>
    <th>Party</th>
    <th>State</th>
    <th>Most Recent Term Dates</th>
    <th>Congressional Sessions</th>
    <th>Grade (A+ to F)</th>
  </tr>
</thead>
<tbody>
{{#each reps as |rep|}}
  <tr>
    <td><a href="/representatives/{{rep.member_id}}">{{rep.first_name}} {{ rep.last_name }}</a></td>
    <td>{{rep.party}}</td>
    <td>{{rep.state}}</td>
    <td>{{rep.last_term_start}} to {{ rep.last_term_end }}</td>
    <td>{{#each rep.Congresses as |c|}}{{ c.number}}{{#unless @last}},{{/unless}}{{/each}}</td>
    <td>{{getGrade rep.grade}}</td>
  </tr>
{{/each}}
</tbody>

</table>

<script>
  $(document).ready(function() {
    $('input').on('keyup', function() {
      var text = $('input').val().toLowerCase();
      $('tbody').find('tr').each(function() {
        if(!$(this).text().toLowerCase().includes(text)) {
          $(this).hide()
        } else {
          $(this).show();
        }
      })
    })
  })
</script>
